[Unit]
Description=network_monitor
After=network.target
[Service]
Type=oneshot
User=root
ExecStart=/home/vpn/vpn_with_monitor/start.sh
[Install]
WantedBy=multi-user.target